:root {
    --profile-card-height: 256px;
    --info-margin-top: 16px;
    --social-bar-height: 56px;
}
@font-face {
    font-family: "Vazirmatn";
    src: url("assets/fonts/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
        url("assets/fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
.ct-high-emphasis {
    color: #eaeaeb !important;
}

.ct-medium-emphasis {
    color: #a7a7ab !important;
}

.ct-disabled {
    color: #a0a0a5 !important;
}
.table-border-0 td,
.table-border-0 th {
    border: 0 !important;
}
.profile-card {
    height: var(--profile-card-height);
}

.social-bar a {
    text-decoration: none !important;
    color: #d4d4d4 !important;
}
